@font-face {
  font-family: 'GAME';
  src: url('../assets/ARCADECLASSIC.TTF');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GAME';
}

body,
html {
  height: 100%;
  overflow: hidden;
  background: black;
}

#wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -100%;
  animation: transition-up 1s ease forwards;
}

#chasing-animation {
  width: 60vh;
  height: 14vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chasing-animation::after {
  content: '';
  width: 45vh;
  border: solid 0.2vh rgba(97, 255, 65, 0.637);
}

#title {
  font-size: 8vh;
  color: #eeeeee;
  font-weight: 200;
}

#menu {
  font-size: 4vh;
  height: 5vh;
  background: transparent;
  color: #eeeeee;
  cursor: pointer;
}

#menu::before {
  content: '►';
  color: rgb(201, 230, 40);
  margin-right: 2vh;
}

@keyframes transition-up {
  100% {
    top: 0;
  }
}
